pat-app/frontend/swiftclient/PATApp/.build/index-build/arm64-apple-macosx/debug/index/db/v13/p85521--14fde2/data.mdb
pat-app/frontend/swiftclient/PATApp/.build/index-build/arm64-apple-macosx/debug/index/db/v13/p85521--14fde2/lock.mdb
